---
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";
import Footer from "@/components/Footer.astro";

type Props = {
  title?: string;
  description?: string;
};
const {
  title = "",
  description = "Hi there! I'm Tim, a developer and homelab enthusiast.",
} = Astro.props;

const siteTitle = title === "" ? "Tim Schneider" : `${title} | Tim Schneider`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="preload"
      href="/fonts/geist-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/geist-semibold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <title>{siteTitle}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={Astro.url} />
    <link rel="icon" type="image/x-icon" sizes="48x48" href="/favicon.ico" />

    <!-- Open Graph -->
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={`${Astro.url}opengraph-image.png`} />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- X -->
    <meta name="twitter:title" content={siteTitle} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:site" content="@timschneiderxyz" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={`${Astro.url}opengraph-image.png`} />
    <meta name="twitter:image:type" content="image/png" />
    <meta name="twitter:image:width" content="1200" />
    <meta name="twitter:image:height" content="630" />

    <ClientRouter />
  </head>
  <body
    class="flex flex-col max-w-2xl min-h-dvh mx-auto px-8 py-16 bg-neutral-50 dark:bg-neutral-950 font-sans text-neutral-800 dark:text-neutral-200"
  >
    <main class="grow mt-0 md:mt-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
