---
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

type Props = {
  title?: string;
  description?: string;
  showHeader?: boolean;
};
const {
  title = "",
  description = "Hi there! I'm Tim, a developer and homelab enthusiast.",
  showHeader = true,
} = Astro.props;

const siteTitle = title === "" ? "Tim Schneider" : `${title} | Tim Schneider`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="preload"
      href="/fonts/geist-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/geist-semibold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <title>{siteTitle}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={Astro.url} />
    <meta name="theme-color" content="#0b0809" />

    <!-- Favicons -->
    <link rel="icon" sizes="32x32" href="/favicons/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
    <link
      rel="apple-touch-icon"
      type="image/png"
      href="/favicons/apple-touch-icon.png"
    />
    <link rel="manifest" href="/favicons/manifest.webmanifest" />

    <!-- Open Graph -->
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="de_DE" />
    <meta property="og:image" content={`${Astro.url}opengraph-image.png`} />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- X -->
    <meta name="twitter:title" content={siteTitle} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:site" content="@timschneiderxyz" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={`${Astro.url}opengraph-image.png`} />
    <meta name="twitter:image:type" content="image/png" />
    <meta name="twitter:image:width" content="1200" />
    <meta name="twitter:image:height" content="630" />

    <ClientRouter />
  </head>
  <body
    class="flex flex-col min-h-dvh bg-zinc-50 dark:bg-zinc-950 font-sans tracking-tight text-gray-800 dark:text-gray-200 overflow-x-hidden selection:bg-red-300 selection:text-gray-950"
  >
    {showHeader ? <Header /> : null}
    <main class="grow max-w-2xl w-full mx-auto px-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
